@model Naspinski.FoodTruck.AdminWeb.Models.DeliveryDestination.DeliveryDestinationCrudModel

<div class="row">
    <form method="post" id="@(Model.NewDestination.IsCity ? "city" : "zip")-form" >
        <div class="col-md-6">
            <input type="hidden" asp-for="NewDestination.IsCity" />
            <div class="form-group">
                <label asp-for="NewDestination.Value">@(Model.NewDestination.IsCity ? "City" : "Zip Code")</label>
                <input asp-for="NewDestination.Value" class="form-control" type="text" />
            </div>
        </div>
        <div class="col-md-3">
            @if (Model.NewDestination.IsCity)
            {
            <div class="form-group">
                <label asp-for="NewDestination.IsBlacklist"></label>
                <input asp-for="NewDestination.IsBlacklist" class="form-control" type="checkbox" style="border-width:0" />
            </div>
            }
            else
            {
                <input asp-for="NewDestination.IsBlacklist" type="hidden" />
            }
        </div>
        <div class="col-md-3">
            <div class="form-group">
                <br />
                <button type="submit" class="btn btn-default">
                    <i class="glyphicon glyphicon-floppy"></i>
                    Add
                </button>
            </div>
        </div>
    </form>
</div>
<hr />
<ul class="list-group">
    @if (!Model.Destinations.Any())
    {
        <li class="list-group-item">no cities</li>}
    @foreach (var item in Model.Destinations)
    {
        <li class="list-group-item" id="item-@item.Id">
            <div class="row">
                <div class="col-sm-12">
                    <span class="pull-right" style="padding-left: 1em;">
                        <a class="btn btn-default item-delete" data-id="@item.Id">
                            <i class="glyphicon glyphicon-trash"></i>
                        </a>
                    </span>
                    <h4>
                        @if (item.IsBlacklist)
                        {<i class="glyphicon glyphicon-ban-circle" style="color:darkred"></i>}
                        @item.Value
                    </h4>
                </div>
            </div>
        </li>
    }
</ul>
