@using System.Collections.Generic
@model IEnumerable<Naspinski.FoodTruck.Data.Distribution.Models.Menu.PriceTypeModel>
@using Naspinski.FoodTruck.Admin.Models
@await Html.PartialAsync("_IndexHeader", new IndexHeaderModel("PriceType", "Price Types"))

<ul class="list-group">
    @if (!Model.Any())
    {
        <li class="list-group-item">
            no price types
            <a asp-area="" asp-controller="PriceType" asp-action="Edit">add Price Type</a>
        </li>
   }
    @foreach (var item in Model)
    {
        <li class="list-group-item" id="item-@item.Id">
            <h4>
                <span class="pull-right">
                    <a class="btn btn-default item-delete" data-id="@item.Id">
                        <i class="glyphicon glyphicon-trash"></i>
                    </a>
                    <a class="btn btn-default" asp-area="" asp-controller="PriceType" asp-action="Edit" asp-route-id="@item.Id">
                        <i class="glyphicon glyphicon-pencil"></i>
                    </a>
                </span>
                [@item.SortOrder]
                @item.Name
            </h4>
        </li>
    }
</ul>


@section Scripts {
    <script>
        $(document).ready(function () {
            $('.item-delete').on('click', function (e) {
                const id = $(this).data('id');
                e.preventDefault();
                $.ajax('/PriceType/Delete/' + id, {
                    type: 'Delete',
                    success: function (data) {
                        $.toast({ text: 'Deleted', icon: 'success' })
                        $('#item-' + id).remove();
                    },
                    error: function (data) {
                        $.toast({ text: 'Unknown error occurred', hideAfter: false, icon: 'error' })
                    }
                })
            });
        });
    </script>
}
