@model Naspinski.FoodTruck.Data.Distribution.Models.Specials.SpecialModel
@using Naspinski.FoodTruck.Admin.Models
@await Html.PartialAsync("_EditHeader", new EditHeaderModel(Model.IsNew, "Special"))
<div class="row">
    <form method="post" id="form-edit">
        <div class="col-md-6">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Begins"></label>
                <input name="Begins" id="begins" value="@Model.Begins" class="form-control datetime-picker" />
                <span asp-validation-for="Begins" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ends"></label>
                <input id="Ends" name="Ends" value="@Model.Ends" class="form-control datetime-picker" />
                <span asp-validation-for="Ends" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6">
            <label asp-for="IsSunday">
                <input asp-for="IsSunday" class="form-control" type="checkbox" style="border-width:0" />
                Sunday
            </label>
            <label asp-for="IsMonday">
                <input asp-for="IsMonday" class="form-control" type="checkbox" style="border-width:0" />
                Monday
            </label>
            <label asp-for="IsTuesday">
                <input asp-for="IsTuesday" class="form-control" type="checkbox" style="border-width:0" />
                Tuesday
            </label>
            <label asp-for="IsWednesday">
                <input asp-for="IsWednesday" class="form-control" type="checkbox" style="border-width:0" />
                Wednesday
            </label>
            <label asp-for="IsThursday">
                <input asp-for="IsThursday" class="form-control" type="checkbox" style="border-width:0" />
                Thursday
            </label>
            <label asp-for="IsFriday">
                <input asp-for="IsFriday" class="form-control" type="checkbox" style="border-width:0" />
                Friday
            </label>
            <label asp-for="IsSaturday">
                <input asp-for="IsSaturday" class="form-control" type="checkbox" style="border-width:0" />
                Saturday
            </label>
        </div>
        <div style="clear:both">
            <button type="submit" class="btn btn-primary">
                <i class="glyphicon glyphicon-floppy"></i>
                Save
            </button>
        </div>
    </form>
</div>

@section Scripts {

    @await Html.PartialAsync("_ValidationScriptsPartial")
    @await Html.PartialAsync("_DateTimePicker")

    <script>
        $(document).ready(function () {
            $('#form-edit').on('submit', function (e) {
                if ($('#form-edit').valid()) {
                    e.preventDefault();
                    $.ajax('/Special/Edit', {
                        type: 'POST',
                        data: $('#form-edit').serialize(),
                        success: function (data) {
                            $.toast({ text: 'Saved', icon: 'success' })
                            $('#new-edit').html("Edit");
                            $('#Id').val(data.id);
                        },
                        error: function (data) {
                            $.toast({ text: 'Unknown error occurred', hideAfter: false, icon: 'error' })
                        }
                    })
                }
            });

            $('.datetime-picker').datetimepicker({
                format: 'LT'
            });
        });
    </script>
}